# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Database
*.sqlite3
*.db

# Jupyter Notebook
.ipynb_checkpoints

# Test coverage
htmlcov/
.coverage
.tox/

# Environment variables
.env
.env.*

# Misc
*.swp
*.swo
.idea/